<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div classname="navBar">
    <h1>Speak your mind</h1>
    <form action="/logout" method="post">
        <button type="submit">Sign Out</button>
    </form>
</div>

<div>
        <a href="addBlogPost">Add a blog Post</a>
</div>

<h2>Welcome: <%= firstname%></h2>
<% if (errors) { %>
    <div>
        <p> <b> <%= errors%> </b></p>
    </div>
<% } %>


<div>
    <% if (posts && posts.length > 0) { %>
            <% posts.forEach(post => { %>
                <div class="blog-card">
                    <h2><%= post.blogtitle %></h2>
                    <p><%= post.datecreated %></p>
                    <p><%= post.blogdescription %></p>
                    <form action="/readblog/<%= post.id %>" method="get">
                        <button type="submit">Read More</button>
                    </form>
                </div>
            <% }) %>

    <% } else { %>
        <p>No blog posts found.</p>
    <% } %>
</div>
</body>
</html>